<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Helló</h2>
                <hr class="light">
                <p class="text-faded">Több évvel ezelőtt döntöttem az épületgépész szakma mellett. Azóta minden nap igyekszem az újabbnál újabb kihívásokra a lehető legjobb megoldással szolgálni. A kollegámmal nap mint nap egy még ismeretlen szituációba kerülünk, de véleményem szerint pont ez segít fej fej mellett haladni ezzel a naponta megújuló szakággal.
                    Nemrégiben döntöttem az egyetem mellett, így meg is kezdtem tanulmányaimat Gépészmérnökként Budapesten. Célom hogy a lehető legjobb eredményeket tudjam nyújtani, letisztult és igényes munkát hagyni magam után.</p>
                <a href="#" class="btn btn-default btn-xl">Hajrá!</a>
            </div>
        </div>
    </div>
</section>
